@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.rfm-marquee-container {
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%; 
}

.animate-marquee {
    animation: marquee 10s linear infinite;
}
